#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 300px;
  text-align: left;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #555;
  border-radius: 8px;
}

form div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form label {
  margin-bottom: 0.5rem;
}

form input, form textarea, form button {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #555;
}

form button {
  cursor: pointer;
  background-color: #1a1a1a;
  border: 1px solid transparent;
}
form button:hover {
  border-color: #646cff;
}